# PostgreSQL
POSTGRES_DB=lofipix
POSTGRES_USER=lofipix
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Temporal
TEMPORAL_DB=postgres12
TEMPORAL_ADDRESS=localhost:7233

# API
NODE_ENV=development
DATABASE_URL=postgres://postgres-user:postgres-password@postgres-host:postgres-port/postgres-db

# SeaweedFS
SEAWEED_ENDPOINT=https://region-storage.lofipix.app
SEAWEED_BUCKET=lofipix-region-bucket
SEAWEEDFS_ACCESS_KEY=(openssl rand -base64 60 | tr -dc 'a-zA-Z0-9' | head -c 20; echo)
SEAWEEDFS_SECRET_KEY=(openssl rand -base64 60 | tr -dc 'a-zA-Z0-9' | head -c 40; echo)
