# PostgreSQL
POSTGRES_DB=lofipix
POSTGRES_USER=lofipix
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# Temporal
TEMPORAL_DB=postgres12
TEMPORAL_ADDRESS=temporal-server:7233

# API
NODE_ENV=development
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# MinIO
MINIO_ROOT_USER=lofipix
MINIO_ROOT_PASSWORD=change-me
MINIO_BUCKET=development-lofipix
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_API_CORS_ALLOW_ORIGIN=http://localhost,http://localhost:*,https://*.lofipix.app
